@{
    ViewBag.Title = "Edit Alert";
}

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Content/Site.css" rel="stylesheet" />

<center>
    <h3>Edit Alert</h3>

    <p>
        <select name="percent" id="percent">
            @{
                int x = -20;
                while (x <= -1)
                {
                    if (Convert.ToInt32(ViewBag.Percent) == x)
                    {
                        <option value=@x selected>@x%</option>
                    }
                    else
                    {
                        <option value=@x>@x%</option>
                    }


                    x++;
                }

                int i = 1;
                while (i <= 100)
                {
                    if (Convert.ToInt32(ViewBag.Percent) == i)
                    {
                        <option value=@i selected>@i%</option>
                    }
                    else
                    {
                        <option value=@i>@i%</option>
                    }
                    i++;
                }
            }
        </select> in
        <select name="minutes" id="minutes">
            @{
                int j = 5;
                while (j <= 55)
                {
                    if (Convert.ToInt32(ViewBag.Minutes) == j)
                    {
                        <option value=@j selected>@j minutes</option>
                    }
                    else
                    {
                        <option value=@j>@j minutes</option>
                    }
                    j += 5;
                }

                if (Convert.ToInt32(ViewBag.Minutes) == 60)
                {
                    <option value="60" selected>1 hour</option>
                }
                else
                {
                    <option value="60">1 hour</option>
                }

                int k = 120;
                int counter = 2;
                while (k <= 1440)
                {
                    if (Convert.ToInt32(ViewBag.Minutes) == k)
                    {
                        <option value=@counter selected>@counter hours</option>
                    }
                    else
                    {
                        <option value=@k>@counter hours</option>
                    }
                    k += 60;
                    counter++;
                }
            }
        </select>
    </p>
        <button id="select_all" onclick="selectAll()" class="selectAllButton">Select All</button>
        <br />
        <br />

        <div class="buttonsContainer">
            @{
                int length = ViewBag.AllCoins.ToString().Split(',').Length;
                int c = 0;
                var coins = ViewBag.AllCoins.ToString().Split(',');

                string coinone = "";
                string cointwo = "";

                while (c < length - 1)
                {
                    coinone = coins[c];
                    cointwo = coins[c + 1];

                    <div class="row">

                        <div class="col-xs-6">
                            @if (ViewBag.Coins.ToString().Contains(coinone))
                            {
                                <button id=@coinone onclick="updateCoins(this.id)" class="coinButton" style="background-color:#d11d17;color:white">@coinone</button>
                            }
                            else
                            {
                                <button id=@coinone onclick="updateCoins(this.id)" class="coinButton">@coinone</button>
                            }
                        </div>

                        <div class="col-xs-6">
                            @if (ViewBag.Coins.ToString().Contains(cointwo))
                            {
                                <button id=@cointwo onclick="updateCoins(this.id)" class="coinButton" style="background-color: #d11d17;color:white">@cointwo</button>
                            }
                            else
                            {
                                <button id=@cointwo onclick="updateCoins(this.id)" class="coinButton">@cointwo</button>
                            }
                            
                        </div>
                    </div>
                    c += 2;
                    }
                }
                </div>
    <br />
    <br />
    
    <button id="updateAlert" class="actionButton">Update Alert</button>
    
    <br />
    <br />

    <button id="deleteAlert" class="actionButton" style="background-color:darkred;border-color:darkred">Delete Alert</button>

</center>

<div class="modal fade modalmods" id="errorModal">
    <div class="modal-dialog">
        <center>
            <div class="modal-content">
                <div class="modal-body message">
                    <span id="errorMessage"></span>
                </div>
            </div>
        </center>
    </div>
</div>

<div class="modal fade modalmods" id="deleteModal">
    <div class="modal-dialog">
        <center>
            <div class="modal-content">
                <div class="modal-body message">
                    <span>Are you sure you want to delete this alert?</span>
                </div>
                <div class="modal-footer">
                    <button id="deleteYes">Yes</button>
                    <button id="deleteNo">No</button>
                </div>
            </div>
        </center>
    </div>
</div>

<span hidden id="alertId">@ViewBag.Id</span>

<script>

    var coinsList = "AAVE,ADA,ALGO,ATOM,AVAX,BAT,BCH,BSV,BTC,CEL,CHSB,COMP,CRV,DASH,DCR,DGB,DOGE,DOT,EGLD,EOS,ETC,ETH,FIL,FTT,GRT,HBAR,KSM,LINK,LRC,LTC,LUNA,MIOTA,MKR,NANO,NEAR,NEO,OMG,ONEINCH,ONT,QNT,REN,RENBTC,RUNE,SC,SNX,SOL,SUSHI,THETA,TRX,UMA,UNI,VET,WAVES,WBTC,XEM,XLM,XMR,XRP,XTZ,YFI,ZEC,ZEN,ZIL,ZRX";
    
    const coins = {
        "BTC": 0,
        "ETH": 0,
        "ONEINCH": 0,
        "AAVE": 0,
        "ADA": 0,
        "ALGO": 0,
        "ATOM": 0,
        "AVAX": 0,
        "BAT": 0,
        "BCH": 0,
        "BSV": 0,
        "CEL": 0,
        "CHSB": 0,
        "COMP": 0,
        "CRV": 0,
        "DASH": 0,
        "DCR": 0,
        "DGB": 0,
        "DOGE": 0,
        "DOT": 0,
        "EGLD": 0,
        "EOS": 0,
        "ETC": 0,
        "FIL": 0,
        "FTT": 0,
        "GRT": 0,
        "HBAR": 0,
        "KSM": 0,
        "LINK": 0,
        "LRC": 0,
        "LTC": 0,
        "LUNA": 0,
        "MIOTA": 0,
        "MKR": 0,
        "NANO": 0,
        "NEAR": 0,
        "NEO": 0,
        "OMG": 0,
        "ONT": 0,
        "QNT": 0,
        "REN": 0,
        "RENBTC": 0,
        "RUNE": 0,
        "SC": 0,
        "SNX": 0,
        "SOL": 0,
        "SUSHI": 0,
        "THETA": 0,
        "TRX": 0,
        "UMA": 0,
        "UNI": 0,
        "VET": 0,
        "WAVES": 0,
        "WBTC": 0,
        "XEM": 0,
        "XLM": 0,
        "XMR": 0,
        "XRP": 0,
        "XTZ": 0,
        "YFI": 0,
        "ZEC": 0,
        "ZEN": 0,
        "ZIL": 0,
        "ZRX": 0
    };

    //update the coins datastructure on load
    window.onload = function () {

        var coinsListArray = coinsList.split(",");
        var i;

        for (i = 0; i < coinsListArray.length; i++) {

            if (document.getElementById(coinsListArray[i]).style.color == "white") {
                coins[coinsListArray[i]] = 1;
            }
        }

    };

    var selectedAll = false;

    function updateCoins(id) {

        if (coins[id] == 0) {
            document.getElementById(id).style.backgroundColor = "#d11d17";
            document.getElementById(id).style.color = "white";
            coins[id] = 1;

        }
        else {
            document.getElementById(id).style.backgroundColor = "transparent";
            document.getElementById(id).style.color = "black";
            coins[id] = 0;
        }

        console.log(id);
        console.log(coins[id]);

        $.ajax({
            type: 'POST',
            data: { Coins: coins },
            url: '/Home/UpdateCoins'
        });

    }

    function selectAll() {

        if (!selectedAll) {

            selectedAll = true;

            for (const [key, value] of Object.entries(coins)) {

                document.getElementById("select_all").innerHTML = "Deselect All";
                document.getElementById("select_all").style.backgroundColor = "#d11d17";
                document.getElementById("select_all").style.color = "white";
                document.getElementById(key).style.backgroundColor = "#d11d17";
                document.getElementById(key).style.color = "white";

                coins[key] = 1;

            }
        }
        else {

            selectedAll = false;

            for (const [key, value] of Object.entries(coins)) {

                document.getElementById("select_all").innerHTML = "Select All";
                document.getElementById("select_all").style.backgroundColor = "transparent";
                document.getElementById("select_all").style.color = "black";
                document.getElementById(key).style.backgroundColor = "transparent";
                document.getElementById(key).style.color = "black";

                coins[key] = 0;

            }
        }

        $.ajax({
            type: 'POST',
            data: { Coins: coins },
            url: '/Home/UpdateCoins'
        });
    }

    $('#updateAlert').click(function () {

        var anyCoinsSelected = false;

        //check if all empty
        for (const [key, value] of Object.entries(coins)) {

            if (coins[key] == 1) {
                anyCoinsSelected = true;
            }
        }

        if (anyCoinsSelected == false) {

            document.getElementById("errorMessage").innerHTML = "Please select at least one coin.";
            $('#errorModal').modal("show");
        }
        else {

            var p = document.getElementById("percent").value;
            var m = document.getElementById("minutes").value;
            var alertId = document.getElementById("alertId").innerHTML;
            

            $.ajax({
                type: 'POST',
                data: {
                    Id: alertId,
                    Percent: p,
                    Minutes: m,
                    Coins: coins
                },
                url: '/Home/EditAlert',
                success: function () {
                    window.location.href = '/Home/Index';
                },
                error: function () {

                    document.getElementById("errorMessage").innerHTML = "There was an error. Please try again later.";
                    $('#errorModal').modal("show");

                }
            });

            
        }
    });

    $('#deleteAlert').click(function () {

        $('#deleteModal').modal("show");
    });

    $('#deleteNo').click(function () {

        $('#deleteModal').modal("hide");
    });

    $('#deleteYes').click(function () {

        var alertId = document.getElementById("alertId").innerHTML;

        $.ajax({
            type: 'POST',
            data: {
                Id: alertId,
            },
            url: '/Home/DeleteAlert',
            success: function () {
                window.location.href = '/Home/Index';
            },
            error: function () {

                document.getElementById("errorMessage").innerHTML = "There was an error. Please try again later.";
                $('#errorModal').modal("show");

            }
        });
    });

</script>
