<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CoinBull</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="CoinBull" type="image/ico" href="~/Images/favicon.png">

</head>
<body>
    <div class="myNav">
        <a href="~/Home/Index" style="float:left;padding-left:5px;"><img src="~/Images/bullicon.png" /></a>
        <a href="~/Account/Login" class="navLogin">Log In</a>
    </div>
    <!--
    <div class="navbar navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("CoinBull", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="nav navbar-nav navbar-right">
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
        -->
    <div class="container body-content">
        @RenderBody()
        
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
